@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Playfair+Display:wght@500&family=Poppins&display=swap');

/* To Do: 
- Make all units REM 
- Make sure new color scheme is in all areas
- Make contact page  
*/


* {
    /* makes all elements border-box */
    box-sizing: border-box;
}

body {
    background-color: #2b2d42;
    font-family: Lato, Helvetica, sans-serif;
    margin: 0 auto;
}

main {
    background-color: #e3e6c5 ;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: left;
    max-width: 65vw;
    min-height: 100vh;
    margin: 0 auto;
    /*makes the main section take up 100% of viewport height*/
    padding: 5rem 1rem;
}

.portfolio-section {
    background-color: #38192d ;
    color:#e3e6c5 ;
    max-width: 55vw;
    min-height: 8rem;
    padding: 0.5rem 1.5rem;
    margin: 2.5rem auto;
    border-radius:5%;
    box-shadow: 5px 10px 5px #554951;
    overflow: auto;
}

header {
    background-color: #d98d3d;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 2rem;
    min-width: 100%;
    padding: 0em 1em 0em 1em;
    position: fixed; /*  header persists at top of page  */ 
    top: 0;
    /*this ensures header stretches across viewport fully*/
    box-shadow: 0 2px 4px -1px rgb(54, 40, 2);
    overflow: auto;
}

.header-ul {
    /*I utilized uls to make the nav bar for header and footer */
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    float: right;
}

h1 {
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    margin: 1rem 0;
    text-shadow: rgb(255, 255, 255) 5px 5px 1px;
}

h2 {
    font-family:'Poppins', sans-serif;
    margin-left: 1rem;
}

footer {
    background-color: azure;
    text-align: center;
    min-width: 100%;
    position: fixed;
    margin: 0;
    bottom: 0;
    box-shadow: 8px 2px 10px 1px rgb(0, 0, 0);
    /*looks more 3D with the shadow */
    overflow: auto;
}

.name {
    display: inline-block;
    margin: 0.5em;
    padding: 0;
}

header li a:hover {
    /*changes color when hovering*/
    color: rgb(25, 175, 125);
    transition: 0.2s;
}

.footerlogo {
    width: 40px;
    height: 40px;
    border-radius: 85%;
    margin: 0px 30px;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}

li {
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.5em 0em 0.5em;
    display: inline-block;

}

.header-ul a.current {
    /* this puts a black underline beneath the current page in the nav bar */
    border-bottom: 1px solid black;

}

p {
    line-height: 1.5;
    margin-left:1rem;
    /* for increased readability*/
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
}

blockquote {
    padding: 4rem 2rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    font-family: 'Playfair Display', Helvetica, sans-serif;
    text-shadow: rgb(255, 255, 255) 2px 2px 2px;
    color: rgb(0, 0, 0);

}

section {
    border-top: 1px solid rgb(1, 88, 37);
    box-sizing: border-box;
    padding: 2em 1em;
    max-width: 65vw;
    margin: 0 auto;
}

img {
    width: 12.5rem;
    height: 12.5rem;
}

.gaming-section,
.hiking-section,
.reading-section {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lato', Helvetica, sans-serif;
    overflow: auto;
}

.books,
.gaming {
    float: left;
    margin: 0 1.5rem 1.5rem 1.5rem;
    border: 5px groove black;

}

.hiking {
    float: right;
    overflow: auto;
    margin: 0 1.5rem 1.5rem 1.5rem;
    border: 2px solid black;
}

.cleared-left,
.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}


.pic1,
.pic3 {
    float: left;
    margin: 0 1.5rem 2.5rem 0;
    /*3em for margin-bottom to push text to the right*/

}


.pic2 {
    float: right;
    margin: 0em 0em 1.5rem 1.5rem;
}

.pic1,
.pic2,
.pic3 {
    height: 11.25rem;
    width: 20rem;
}

